*{
    font-family: 'Roboto Mono', monospace;
}

h1{
    text-align: center;
}

#display{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.img-container{
    display: flex;
    flex-direction: column;
}

.images{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}

.Results{
    text-align: center;
}